<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title"><u>Technical Skills</u></div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Angular</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Typescript</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Javascript</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Ionic</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">CSS</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">HTML</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
