<footer class="footer">
  <div class="container text-center">
    <a
      class="btn btn-link"
      href="https://www.linkedin.com/in/aabha-shukla-2402891ab/"
      target="_blank"
    >
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a
      class="cc-github btn btn-link"
      href="https://github.com/aabha-s"
      target="_blank"
    >
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>&copy; All rights reserved.</p>
  </div>
</footer>
