<div class="section contact-section" id="contact">
  <div
    class="cc-contact-information"
    style="background-image: url('assets/images/new.webp')"
  >
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title"><u>Contact Me</u></div>
              <div class="">
                <div class="card-body contact">
                  <p class="h6 mb-0 color">
                    <strong>Phone</strong>
                  </p>
                  <p class="pb-2">+91 9131790613</p>
                  <p class="h6 mb-0 color">
                    <strong>Email</strong>
                  </p>
                  <p>shuklaaabha10@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-snotify class="material"></ng-snotify>
