<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title"><u>Education</u></div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2017-2021</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Bachelor of Technology</div>
            <h4 class="category">Jawaharlal Institute of Technology</h4>
            <ul>
              <li>
                <b>Jawaharlal Institute of Technology</b>
              </li>
              <li>
                Completed B.tech in Computer Science and Engineering with
                <b>7.84 CGPA</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2016-2017</p>
            <div class="h5">Higher Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">12th</div>
            <h4 class="category">Gokuldas Public School</h4>
            <ul>
              <li>Completed 12th with <b>79%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014-2015</p>
            <div class="h5">Higher Secondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">10th</div>
            <h4 class="category">Gokuldas Public School</h4>
            <ul>
              <li>Completed 10th with <b>73%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
