<section id="projects">
  <h2 class="h4 text-center mb-4 title"><u>Projects</u></h2>
  <div class="">
    <div class="grid-item">
      <div class="grid-item-wrapper">
        <ul>
          <li class="white-text">
            <div class="timeline-panel">
              <div class="row">
                <div class="col-lg-6">
                  <div class="h5 mt-5 title white-text">Wellbeing Way</div>
                  <ol style="margin-left: -41px">
                    <li>
                      <div class="white-text">
                        Wellbeing Way is the digital service aimed at supporting
                        users to improve their health and wellbeing through
                        in-app support. The Wellbeing Way app uses multiple
                        engagement methods to motivate and empower individuals
                        to eat well, move more and take charge of their health.
                      </div>
                    </li>
                    <br />
                    <li>
                      <p class="white-text">
                        Co-ordinated with Team and CLient for Updates.
                      </p>
                    </li>
                    <li>
                      <p class="white-text">
                        Worked on Frontend task and to meet project
                        requirements.
                      </p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-6 mt-5">
                  <ul>
                    <li class="list white-text">Technologies Used</li>
                    <ul>
                      <div class="row white-text">
                        <div class="col-md-6">
                          <li class="non_list white-text">Ionic</li>
                          <li class="non_list white-text">Angular</li>
                          <li class="non_list white-text">SCSS</li>
                        </div>
                      </div>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="white-text">
            <div class="timeline-panel">
              <div class="row">
                <div class="col-lg-6">
                  <div class="h4 mt-5 title white-text">Doctor Crm</div>
                  <ol style="margin-left: -41px">
                    <li>
                      <div class="white-text">
                        Doctor Crm is a service which is used by Patients and
                        doctors. Patients can explain their problem to doctor
                        with video calling and doctors can help them out.
                      </div>
                    </li>
                    <br />
                    <li>
                      <p class="white-text">
                        Co-ordinated with Team and CLient for Updates.
                      </p>
                    </li>
                    <li>
                      <p class="white-text">
                        Worked on Frontend task and to meet project
                        requirements.
                      </p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-6 mt-5">
                  <ul>
                    <li class="list white-text">Technologies Used</li>
                    <ul>
                      <div class="row white-text">
                        <div class="col-md-6">
                          <li class="non_list white-text">Angular</li>
                          <li class="non_list white-text">HTML</li>
                          <li class="non_list white-text">SCSS</li>
                          <li class="non_list white-text">Typescript</li>
                        </div>
                      </div>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
