<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/images/star.jpg')"
      ></div>
      <div class="container">
        <div class="content-center">
          <!-- <div class="profile-image">
            <a href="#">
              <img src="assets/images/profile.JP" alt="Image" />
            </a>
          </div> -->
          <div class="h2 title">Aabha Shukla</div>
          <p class="category text-white">Angular Developer</p>
          <a
            class="btn btn-primary smooth-scroll mr-2"
            href="#contact"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Hire Me</a
          >
          <a
            href="assets/Aabha Resume.pdf"
            class="btn btn-default"
            target="_blank"
            download="Aabha_Shukla.pdf"
          >
            Download CV
          </a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/aabha-shukla-2402891ab/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Linkedin"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://github.com/aabha-s"
              target="_blank"
              rel="tooltip"
              title="Follow me on Github"
            >
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
